extends layout

block content
  .container
   .row 
     h1 Using socket.io with NodeJS
   .row
    .panel.panel-default
      .panel-heading #{title}
        .js-userjoined
        .js-usersinchat Users in Chat: 
        .typing
      .panel-body
        .container#messages
          .row.message-bubble
        .panel-footer
           .input-group
             input#txtmessage.form-control(type='text')
             span.input-group-btn
               button#sendmessage.btn.btn-default(type='button') Send
